<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>

</head>
<body>
    <%- include('partials/navigation') %> <!--El guion es para decirle que se va a interpretar codigo (navegacion)-->

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
           <p>
            "La programación es el idioma con el que le hablamos a las computadoras y les damos instrucciones para realizar tareas asombrosas. Es un viaje de creatividad y resolución de problemas, donde los programadores, como magos modernos, conjuran aplicaciones, sitios web y software que simplifican la vida, automatizan procesos complejos y conectan a las personas en todo el mundo. Cada línea de código es una oportunidad para la innovación, un pincelazo en el lienzo digital que da vida a ideas, proyectos y sueños. En este universo digital en constante evolución, la programación es la brújula que guía nuestro progreso, permitiendo que la tecnología avance y transforme nuestro entorno en formas que antes solo podíamos imaginar".
           </p>
        </section>
    </main>>

    <%- include('partials/footer') %> 
    
</body>
</html>