<footer class="bg-dark text-center p-4">
 <p class="h4">¡Te doy la más cordial bienvenida a mi sitio web! </p>  
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>